*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

html , body {
height: 100%; 
margin: 0px;
}

.background {
height: 100%; 
margin: 0px;
background-size: cover;
background-repeat: no-repeat;
object-fit: none;
background-position: center;
}


.navv {
background-color:#F5F3C1;
width:auto;
position:relative;
display: flex;
justify-content: space-between;
padding: 5px 200px;
align-items:center;
text-decoration: none;
color: rgb(0, 0, 0);

}

.mail , .num{
color: rgb(0, 0, 0);
text-decoration: none;
font-weight: 500;
font-size: 17;

}
a:link, a:visited {
color: rgb(0, 0, 0);
text-align: center;
text-decoration: none;
display: inline-block;
}
a:hover, a:active {
background-color: #3c96afcc;
box-shadow: 8px 10px 28px 0 #002530be;
}

h1 span{

color:rgb(0, 71, 43);
padding:  43px 145px;
display: inline-block;
}

.logo{
float: right;
padding-right: 9%;
}

form {
  background-color: #f5f3c14f;
width: 500px;
height: 250px;
perspective: 500px;
text-align: center;
margin-left: 32% ;
margin-top:5% ;
}

.subfo{
text-align: center;
position:absolute;
width:60%;
padding: 5px 50px 5px  0px;
top: 45%;
left: 20%;
transform: translate3d(0, -50%, 35px) perspective(100px);
}
ion-icon {
font-size: 30px;
position: absolute;
display: initial;
}

input{

margin-bottom:13px;
padding: 15px 50px;
height: 20px;
width: 300px;
border-radius: 4px;
letter-spacing: 0.5px;
}

h4{
  color: #ff002c;
font-size:13pt;
padding: 0px 0px 0px 35px;
}

.btn{  
  background-color: #fe0101cc;
color: #fffdf7;
font-size:15pt;
width:230px;
height:30px;
position:absolute;
border-radius:27px;
left: 27%;
bottom:8%;

}

.btn:hover{  
text-align: center;
background-color: rgb(35, 129, 92);
color: #fffdf7;
box-shadow: 0 8px 24px 0 rgba(54, 136, 190, 0.836);
border-radius:27px;
}

/* .form{ 
box-sizing: border-box;
padding: 2rem;
border-radius: 1rem;
background-color: hsl(0, 0%, 100%);
border: 4px solid hsl(0, 0%, 90%);
display: grid;
grid-template-columns: 1fr 1fr;
gap: 2rem;

} */
